/* Animation */
@keyframes ad-animation {
    0% {transform: translateX(-75vw);}
    25% {transform: translateX(-15vw);}
    52.55% {transform: translateX(15vw);}
    75% {transform: translateX(60vw);}
    100% {transform: translateX(90vw);}
}

@keyframes shopping-cart-animation {
    from {transform: rotate(90deg);}
    to {transform: rotate(0);} 
}

@keyframes move {
    0%, 100% {
        transform: translateX(0);
      }
    25% {
        transform: translateX(2px) rotateY(-20deg);
    }
    50% {
        transform: translateX(1px)  translateY(-2px) rotateY(-25deg);
      }
    75% {
        transform: translateX(2px) rotateY(-20deg);
      }
}
/* ----------------------------------------------------------- */

/* Media Queries */

/* --------[Desktop]--------------------------------------------------- */
@media (min-width: 1280px) {
    /* Body and Nav */
body {
    border: solid green;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* Top Navigation Container */

.top-navigation-container {
    width: 65%;
    /* border: solid orange; */
    margin: 0;
    padding-top: 2%;
    height: 6vh;
    font-size: 1.5vh;
    letter-spacing: 0.05vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Top Advertisement */

.top-advertisement {
    background-color: lightgray;
    width: 100%;
    text-align: center;
    height: 4vh;
    font-size: 1.1vw;
    font-weight: 500;
    letter-spacing: 0.05vw;
    word-spacing: 0.1vw;
    overflow: hidden;
}

.animation {
    animation: ad-animation 35s linear infinite;
    display: flex;
    text-wrap: nowrap;
    flex-direction: row;
}

/* Logo, Search and Cart Container */
.mobile-side-bar {
    display: none;
    width: 1%;
    margin: 0%;
}

.logo-and-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid aqua; */
    width: 65%;
    margin: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}
 
.logo-div {
    width: 15%;
    justify-content: right;
    /* border: solid purple; */
}

.search-and-cart-container {
    /* border: solid seagreen; */
    justify-content: right;
    width: 82%;
    gap: 5%;
}

.search {
    width: 40%;
    position: relative;
}

.search-input-element {
    display: block;
    border: none;
    height: 3vh;
    width: 100%;
    border-bottom: 1px solid black;
    /* margin-left: 25%; */
}

.bi-search {
    position: absolute;
    right: 3%;
    top: 5%;
}
 
.cart-div {
    width: 4%;
    margin-right: 1%;
    animation: shopping-cart-animation 10s ease-in-out 1;
    animation-delay: 50ms;
}

/* Main */

/* Main Navigation Bar*/

.main-navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid lightgray;
    width: 100%;
    padding: 1%;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.6vh;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.1vw;
    word-spacing: 0.1vw;
}

.main-nav-tag {
    margin-left: 2.2vw;
    margin-right: 2.2vw;
/*     dropdown      */
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-wrap: nowrap;
}

/* Main Advertisement */

.ad-segment {
    margin-top: 1%;
}

.ad-image {
    width: 100%;
}

.black-background-ad {
    background-color: #171717;
}

/* Enter Department Container Mobile */
.enter-department-container-mobile {
    display: none;
}

/* Enter Department Container Mid And Desktop*/
.enter-department-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */

footer {
    gap: 1vh;
    border-top: 0.5px solid rgb(230, 230, 230);
    padding-top: 2%;
}
/* Social Media Section */
.social-icon-div {
    width: 2%;
    margin: 1%;
}

.footer-table {
    width: 70%;
    padding-bottom: 2%;
}

table {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    text-align: left;
    width: 90%;
    letter-spacing: 0.05vw;
    word-spacing: 0.1vw;
}
td {
    padding: 0.4vw;
    padding-left: 4vw;
    padding-right: 0vw;
    font-size: 0.7vw;
}

th {
    padding: 4vw;
    font-weight: 550;
    font-family: "Lato", bold;
}

.privacy-and-terms-container {
    font-size: 0.8vw;
    font-weight: 600;
    letter-spacing: 0.05vw;
    word-spacing: 0.1vw;
    width: 90%;
    text-align: center;
}
}
/* --------[End of Desktop]-------------------------------------------- */
/* ----------------------------------------------------------- */
/* --------[Mid]-------------------------------------------------------- */
@media (max-width: 1280px) {
    /* Body and Nav */
body {
    border: solid red;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* Top Navigation Container */

.top-navigation-container {
    width: 95%;
    /* border: solid orange; */
    margin: 0;
    padding-top: 2%;
    height: 6vh;
    font-size: 1.5vh;
    letter-spacing: 0.05vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Top Advertisement */

.top-advertisement {
    background-color: lightgray;
    width: 100%;
    text-align: center;
    height: 4vh;
    font-size: 1.2vw;
    font-weight: 500;
    letter-spacing: 0.05vw;
    word-spacing: 0.1vw;
    overflow: hidden;
}

.animation {
    animation: ad-animation 35s linear infinite;
    display: flex;
    text-wrap: nowrap;
    flex-direction: row;

/* Logo, Search and Cart Container */

.logo-and-search-container {
    /* border: solid aqua; */
    width: 98%;
    margin: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}
 
.logo-div {
    width: 15%;
    justify-content: right;
    /* border: solid purple; */
}

/* Main */

/* Main Navigation Bar*/

.main-navigation-bar {
    border: 0.5px solid lightgray;
    width: 100%;
    padding: 2%;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.6vh;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.1vw;
    word-spacing: 0.1vw;
}

.main-nav-tag {
    margin-left: 2.2vw;
    margin-right: 2.2vw;
/*     dropdown      */
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-wrap: nowrap;
}

/* Main Advertisement */

.ad-segment {
    margin-top: 1%;
}

/* Footer */

footer {
    gap: 2vh;
    border-top: 0.5px solid rgb(230, 230, 230);
    padding-top: 2%;
}

/* Social Media Section */
.social-icon-div {
    width: 3%;
    margin: 1%;
}

.footer-table {
    width: 90%;
    padding-bottom: 2%;
}

table {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    text-align: left;
    width: 100%;
    letter-spacing: 0.1vw;
    word-spacing: 0.1vw;
}
td {
    padding: 0.4vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.1vw;
}

th {
    padding: 2vw;
    font-weight: 550;
    font-family: "Lato", bold;
}

.privacy-and-terms-container {
    font-size: 1.1vw;
    font-weight: 600;
    letter-spacing: 0.05vw;
    word-spacing: 0.1vw;
}
}


/* Logo, Search and Cart Container */
.mobile-side-bar {
    display: none;
    width: 1%;
    margin: 0%;
}

.logo-and-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid aqua; */
    width: 65%;
    margin: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}
 
.logo-div {
    width: 15%;
    justify-content: right;
    /* border: solid purple; */
}

.search-and-cart-container {
    /* border: solid seagreen; */
    justify-content: right;
    width: 82%;
    gap: 5%;
}

.search {
    width: 40%;
    position: relative;
}

.search-input-element {
    display: block;
    border: none;
    height: 3vh;
    width: 100%;
    border-bottom: 1px solid black;
    /* margin-left: 25%; */
}

.bi-search {
    position: absolute;
    right: 3%;
    top: 5%;
}
 
.cart-div {
    width: 4%;
    margin-right: 1%;
    animation: shopping-cart-animation 10s ease-in-out 1;
    animation-delay: 50ms;
}

/* Main */

/* Main Navigation Bar*/

.main-navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid lightgray;
    width: 100%;
    padding: 1%;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.6vh;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.1vw;
    word-spacing: 0.1vw;
}

.main-nav-tag {
    margin-left: 2.2vw;
    margin-right: 2.2vw;
/*     dropdown      */
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-wrap: nowrap;
}

/* Main Advertisement */

.ad-segment {
    margin-top: 1%;
}

.ad-image {
    width: 100%;
}

.black-background-ad {
    background-color: #171717;
}

/* Enter Department Container Mobile */
.enter-department-container-mobile {
    display: none;
}

/* Enter Department Container Mid And Desktop*/
.enter-department-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */

footer {
    gap: 1vh;
    border-top: 0.5px solid rgb(230, 230, 230);
    padding-top: 2%;
}

/* Social Media Section */
.social-icon-div {
    width: 2%;
    margin: 1%;
}

.footer-table {
    width: 70%;
    padding-bottom: 2%;
}

table {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    text-align: left;
    width: 90%;
    letter-spacing: 0.05vw;
    word-spacing: 0.1vw;
}
td {
    padding: 0.4vw;
    padding-left: 3vw;
    padding-right: 0vw;
    font-size: 1vw;
}

th {
    padding: 3vw;
    font-weight: 550;
    font-family: "Lato", bold;
}

.privacy-and-terms-container {
    font-size: 0.8vw;
    font-weight: 600;
    letter-spacing: 0.05vw;
    word-spacing: 0.1vw;
    width: 90%;
    text-align: center;
}
}
/* --------[End of Mid]------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* --------[Mobile]---------------------------------------------------- */
@media (max-width: 580px) {
    /* Body and Nav */
body {
    border: solid blue;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* Top Navigation Container */

.top-navigation-container {
    width: 95%;
    /* border: solid orange; */
    margin: 0;
    padding-top: 2%;
    height: 6vh;
    font-size: 1.5vh;
    letter-spacing: 0.05vw;

    display: none;
    justify-content: center;
    align-items: center;
}

/* Top Advertisement */

.top-advertisement {
    background-color: lightgray;
    width: 100%;
    text-align: center;
    height: 6vh;
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: 0.05vw;
    word-spacing: 0.1vw;
    overflow: hidden;
}

.animation {
    animation:none;
    display: flex;
    text-wrap: nowrap;
    flex-direction: column;
}

/* Logo, Search and Cart Container */
.mobile-side-bar {
    display: block;
    width: 6%;
    margin: 1%;
}

.logo-and-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}
 
.logo-div {
    margin: 0 auto;
    width: 25%;
    justify-content: center;
}

.search-and-cart-container {
    justify-content: right;
    width: 15%;
    gap: 5%;
}

.search {
    width: 55%;
    position: unset;
}

.search-input-element {
    display: none;
    border: none;
    height: 3vh;
    width: 100%;
    border-bottom: 1px solid black;
    margin-left: 0%;
}

.bi-search {
    position: unset;
    right: 0%;
    top: 0%;
}
 
.cart-div {
    width: 45%;
    margin-right: 1%;
    animation: none;
    animation-delay: 50ms;
}

/* Main */

/* Main Navigation Bar*/

.main-navigation-bar {
    display: none;
    justify-content: center;
    align-items: center;
    border: 0.5px solid lightgray;
    width: 100%;
    padding: 0%;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.6vh;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.1vw;
    word-spacing: 0.1vw;
}

.main-nav-tag {
    margin-left: 2.2vw;
    margin-right: 2.2vw;
/*     dropdown      */
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-wrap: nowrap;
}

/* Main Advertisement */

.ad-segment {
    margin-top: 0%;
}

.ad-image {
    width: 100%;
}

.black-background-ad {
    background-color: unset;
}

/* Enter Department Container Mobile */
.enter-department-container-mobile {
    display: block;
}

/* Enter Department Container Mid and Desktop*/
.enter-department-container {
    display: none;
    justify-content: center;
    align-items: center;
}

/* Footer */

footer {
    gap: 2vh;
    border-top: 0.5px solid rgb(230, 230, 230);
    padding-top: 2%;
}

/* Social Media Section */
.social-icon-div {
    width: 5%;
    margin: 2%;
}

.footer-table {
    width: 90%;
    padding-bottom: 2%;
}

table {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    text-align: left;
    width: 100%;
    letter-spacing: 0.05vw;
    word-spacing: 0.1vw;
}
td {
    padding: 0.4vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.1vh;
}

th {
    padding: 2vw;
    font-weight: 550;
    font-family: "Lato", bold;
}

.privacy-and-terms-container {
    font-size: 2.7vw;
    font-weight: 600;
    letter-spacing: 0.1vw;
    word-spacing: 0.15vw;
    width: 90%;
    text-align: center;
}
}
/* --------[End of Mobile]--------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------  General ------------------------------------- */

/* Flex */
body, nav, footer,
.top-advertisement,
.accessibility-nav-tag,
.search-and-cart-container, 
.ad-segment,
.all-departments-container,
.footer-table,
.social-media-container, 
.help-main-container,
.register-main-container,
.stores-main-container,
.gift-certificates-container,
.gift-image-and-form-container,
.online-shopping-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body, nav, footer,
.enter-department-container,
.help-main-container,
.form-container,
.stores-main-container,
.gift-certificates-container {
    flex-direction: column;
}

/* All Images */

.logo, .social-icon, .cart-image, 
.gift-image-container img,
.mobile-side-bar img,
.department-image-div-mobile img {
    width:100%;
    height:100%;
}

/* Body and Nav */
body {
    /* border: solid green; */
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

nav {
    /* border: solid red; */
    width: 100%;
}

/* Top Advertisement */

.black-anchor > a {
    color: black;
    text-decoration: none;
}


/* Top Navigation Container */

.top-nav-left {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 65%;
    /* border: solid pink; */
}

.top-nav-right {
    width: 35%;
    text-align: right;
    /* border: solid brown; */
}

.top-nav-tag a {
    color: black;
    text-decoration: none;
}

.top-nav-tag:hover, .top-nav-tag a:hover {
    color:rgb(179, 43, 43);
}

.phone-number {
    font-size: 1.6vh;
    letter-spacing: 0.1vw;;
}

/* Chat Now Image */
.chat-image-placeholder {
    width: 38%;
    margin-bottom: 10%;
}

.accessibility-nav-tag:hover .chat-image-placeholder{
    cursor: pointer;
    animation: move 1s cubic-bezier( 0.36, 0.45, 0.63, 0.53) 1;
    animation-delay: 50ms;
}

.chat-image {
    width: 100%;
    height: 100%;
}

/* Logo, Search and Cart Container */

.search-input-element::placeholder, .search-input-element:focus {
    background-color: white;
    outline: none;
}
.search-input-element:focus  {
    border-bottom: 1px solid lightblue;
}


/* Main */

/* Main Navigation Bar*/

.main-nav-tag a {
    color: black;
    text-decoration: none;
}

  /* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding-top: 15%;
    width: 450%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 1.4vh;
    letter-spacing: 0.05vw;;
  }

.dropdown-content a:hover {
    color: rgb(179, 43, 43);
  }

  /* Show dropdown content on hover */
.main-nav-tag:hover .dropdown-content {
    display: block;
  }

/* Enter Department Container */

.enter-department-left-align {
    text-align: left;
    /* border: solid blue; */
    width: 100%;
    padding-left: 3%;
    padding-top: 2%;
    letter-spacing: 0.1vw;;
}

/* Footer */

/* Social Media Section */

.privacy-and-terms-container a {
    color: black;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* ------------------------ help.html----------------------------- */
.help-main-container {
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 5%;
    width: 80%; 
}

.help-title, .help-details,
.support-hours-container, 
.form-container {
    width: 100%;
}

.help-title {
    /* border: solid green; */
    font-size: 1vh;
    font-family: "Lato", bold;
    letter-spacing: 0.1vw;
    word-spacing: 0.1vw;
    text-transform: uppercase;
}

.help-details {
    /* border: solid salmon; */
    letter-spacing: 0.05vw;
    word-spacing: 0.1vw;
}

.help-details h6 {
    font-size: 1.5vh;
}

.help-details a {
    color: black;
    font-weight: 600;
}

.support-hours-container {
    /* border: solid red; */
    letter-spacing: 0.05vw;
    word-spacing: 0.1vw;
    font-weight: 600;
    font-size: 1.6vh;;
}

fieldset {
    border: none; 
}

.form-input, textarea, select {
    width: 60%;
    border: 1px solid black;
}

.form-input, select {
    height: 3.5vh;
}

label {
    font-size: 1.4vh;;
}

.form-input-btn-div {
    margin: 2%;
}

.form-input-btn {
    text-transform: uppercase;
    background-color: black;
    color: white;
    border-radius: 2vw;
    border: none;
    padding:1.3%;
    width: 14%;
    font-family: "Lato", bold;
    letter-spacing: 0.05vw;
    cursor: pointer;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* ------------------------ register.html----------------------- */
.register-main-container {
    gap: 2%;
    width: 80%;
    height: 64vh;
    margin: 0 auto;

}

.create-account-form {
    border: 1px solid lightgray;
    width: 50%;
    max-height: 100%;
}

.create-account-form p {
    /* border: solid orange; */
    width: 60%;
    font-size: 1.4vh;
    font-weight: 600;
    margin: 1vw;
    margin-bottom: 4vh;
    margin-top: 4vh;
    flex-wrap: wrap;
    line-height: 2.5vh;
}

.register-main-container h2 {
    margin-left: 2%;
    font-weight: 600;
    font-size: 2vh;
    font-family: "Lato", bold;
}

.create-account-form a {
    color: black;
    font-weight: 700;
    font-size: 1.5vh;
}

.form-input-register {
    width: 88%;
}

.login-with-social {
    text-align: center;
    width: 50%;
    height: 100%;
    /* border: solid purple; */
}

.login-with-social p {
    margin: 0 auto;
    width: 68%;
    padding: 4%;
    padding-top: 2.7%;
    letter-spacing: 0.1vw;
    word-spacing: 0.1vw;
    font-size: 1.7vh;
}

.register-hr {
    margin-top:2vh;
    width: 10%;
    border-color: black;
}

/* Form Buttons */

.register-form-btn-div {
    height: 4vh;
    width: 100%;
    /* border: solid green; */
}

.register-btn {
    width: 44%;
    height: 100%;
    font-weight: 700;
    /* border:solid pink; */
    margin: 2%;
    transition: background-color 400ms;
}

.register-btn:hover {
    background-color: rgb(27, 27, 27);
    cursor: pointer;
}

.blue-btn {
    background-color:  #3258aa;
    transition: background-color 400ms;
}

.blue-btn:hover {
    background-color:  #456cc0;
}

.red-btn {
    background-color: rgb(218, 65, 65);
    transition: background-color 400ms;
}

.red-btn:hover {
    background-color: rgb(228, 77, 77);
}

.green-btn {
    background-color: #3e7c21;
    height: 5vh;
    width: 50%;
    margin-left: 45%;
    transition: background-color 400ms; 
}

.green-btn:hover {
    background-color: #528f37;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* ------------------------ stores.html-------------------------- */

.stores-main-container {
    width: 95%;
    margin: 0 auto;
}

.smaller-width {
    width: 90%;
    margin-left: 2%;
    font-size: 1.6vh;
    /* line-height: 2vh; */
}

.flash-sale {
    width: 90%;
}

.flash-sale img {
    width: 100%;
    height: 100%;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* ------------------------ gift-certificates.html--------------- */

.gift-certificates-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 5vh;
    align-items: flex-start;
}

.gift-image-and-form-container {
    width: 100%;
    align-items: flex-start;
    margin: 0 auto;
}

.gift-image-container {
    width: 55%;
}

.gift-form-container {
    width: 45%;
    padding-left: 2%;
}
.amount-input-and-minmax-div{
    display: flex;
    flex-direction: column;
}

.input-and-mimax-div {
    display: flex;
}

.amount-label-div{
    width: 50%;
    height: 50%;
}

.amount-label-div input {
    width: 90%;
}

.input-div {
    width: 50%;
    height: 50%;
    font-size: 1.4vh;
    font-family: "Lato", bold;
}

#add-to-cart-form {
    width: 80%;
}

.gift-input, #gift-textarea {
    width: 98%;
    cursor:pointer;
}
.online-shopping-images-container {
    height: 10vh;
    border-top:1px solid rgb(141, 141, 141);
    border-bottom:1px solid rgb(141, 141, 141);
}

.online-shopping-image {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    height: 100%;
    transition: background-color 400ms;
}

.online-shopping-image:hover {
    background-color: rgba(233, 233, 233, 0.418);
}

.blue-details {
    color: rgb(66, 136, 228);
}

.narrow-container {
    width: 90%;
}

.gift-red-hr {
    width: 100%;
    background-color: #990400;
    border-color: #990400;
    height: 0.1vh;
}

.middle-centered {
    text-align: center;
}